@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  padding: 2rem;
  font-weight: 700;
}

p {
  text-align: center;
  padding: 1rem;
  font-weight: 400;
}

.translator {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.translator .translator__input {
  padding: 1rem;
}
.translator .translator__input .translator__input-field {
  padding: 12px 20px;
}